.list {
	list-style-type: none;
	justify-content: center;
	border-radius: 10px;
	padding: 0;
	margin: 0;
	text-align: center;

	.list-item {
		/* display: flex; */
		font-size: 16px;
		align-items: center;
		justify-content: center;
		height: fit-content;
		background-color: #fff;
		border-radius: 10px;
		/* padding: 1rem; */
		margin: 1rem;

		.list-item__info {
			display: flex;
			flex-direction: column;
			border-radius: 10px;
			background-color: #2b2e3a;
			color: #fff;

			img {
				/* border-radius: 100%; */
				width: 100%;
				height: auto;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			.addButton {
				border-radius: 5px;
				background-color: #0566b0;
				color: #fff;
				width: 100%;
				font-weight: 600;
				border-color: #065a9b;
				padding: 4px;
			}

			.nameCss {
				padding: 5px;
				margin: 0;
			}
		}
	}
}

.Search {
	margin-bottom: 2rem;

	.searchContainer {
		display: flex;
		justify-content: center;

		.searchIcon {
			width: 2rem;
			background-color: #0578cf;
			color: #fff;
		}
	}
}
