.boton {
	border-radius: 5px;
	background-color: #0566b0;
	color: #fff;
	font-weight: 600;
	width: 320px;
	border-color: #065a9b;
	padding: 5px;
}

.button__container {
	text-align: right;
	margin-right: 5.3rem;
	padding-bottom: 1rem;
}
