.header__container {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	padding-bottom: 1rem;
	text-align: center;
	align-items: center;
	/* background-color: ; */

	.nameLogoContainer {
		display: flex;
		flex-direction: row;
		width: 70%;
		text-align: left;
		margin-top: 2rem;
		margin-left: 2rem;
		align-content: center;

		.logo {
			width: 6rem;
			min-width: 5rem;
		}

		h1 {
			margin-top: 1rem;
		}
	}

	.botonContainer {
		width: 30%;
		text-align: right;
		margin-top: 1rem;

		.boton {
			border-radius: 5px;
			background-color: #0566b0;
			color: #fff;
			font-weight: 600;
			width: 8rem;
			border-color: #065a9b;
			padding: 5px;
			margin-right: 3rem;
		}
	}
}
